/*General*/
body {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 8px 0 0 0;
}

.blueBackground {
    background: aliceblue;
    padding: 10px;
    margin: 0 8px 10px 8px;
}

h1 {
    margin: 0 0 0 8px;
    padding: 5px;

}

h2 {
    margin: 0 0 0 8px;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    padding: 5px;
}

button.simple {
    background: none;
    border: none;
    color: #808080;
}

button.simple.on:hover::before {
    content: "> ";
}

button.simple.on:hover {
    cursor: pointer;
}

button.simple.off::before {
    content: '!';
    display: inline-block;
    width: 0.8em;
    height: 1em;
    margin-right: 3px;
    padding: 1px;
    background-color: blanchedalmond;
    font-size: smaller;
}

button.simple.off:active::before {
    content: "You're refreshing too quickly!";
    width: auto;

}

button.simple.on:active {
    background: aliceblue;
}

.small {
    font-size: 10px;
}

a {
    color: darkblue;
}

a.text:hover {
    background-color: #e2f0ff;
    border-radius: 3px;
}

input[type=checkbox i] {
    display: inline;
    visibility: hidden;
    width: 0;
    margin: 0;
}

.settings:hover::before {
    content: '> ';
}

.settings.checked {
    background-color: #e2f0ff;
    border-radius: 3px;
}

.settings::after {
    content: "";
    display: inline-block;
    background-color: #e2f0ff;
    border: 1px solid #add4ff;
    border-radius: 50%;
    width: 0.75em;
    height: 0.7em;
    margin-bottom: -1.3px;

}

.settings.checked::after {
    content: "";
    display: inline-block;
    background-color: #add4ff;
    border: 1px solid #add4ff;
    border-radius: 50%;
    width: 0.75em;
    height: 0.7em;
    margin-bottom: -1.3px;
    margin-right: 5px;

}

.joke.on {
    background-color: bisque;
}

.wip::before {
    content: '!';
    display: inline-block;
    height: 1vh;
    margin-right: 0;
    padding: 1px;
    background-color: blanchedalmond;
}

.wip {
    display: inline-block;
    height: 2vh;
    margin-right: 3px;
    padding: 1px;
    background-color: blanchedalmond;
}
/*Web toys script stuff*/
.scriptOutput {
    font-family: "Andale Mono", monospace;
    padding: 10px;
    margin: 0 8px 10px 8px;
    max-height: 20em;
    min-height: 1em;
    overflow: scroll;
    width: min-content;
    min-width: 40em;
}
.scriptOutput.dark {
    background: #000000;
    color: #ffffff;
}

.scriptOptions:hover::before {
    content: '> ';

}

pre.code {
    background: #e8e8e8;
    padding: 10px;
    margin: 0 8px 10px 8px;
    border-radius: 5px;
    width: min-content;
    min-width: 360px;
}

pre.code > code {
    font-family: "Andale Mono", monospace;
}

.contentContainer {
    width: min-content;
}

.buttonContainer {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.menuContainer {
    display: flex;
    flex-direction: row;
}

/*Global buttons*/
.globalButtons{
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 99999;
}
/*Web toys directory*/

.contentHolderOuter{
    width: 100vw;
    overflow-x: scroll;
    margin: 0;
    /* Moz only vvv */
    scrollbar-width: none;
    /* Moz only ^^^ */
}

.contentHolderOuter::-webkit-scrollbar{
    display: none;
}

.contentHolderInner{
    margin: 0;
    width: max-content;
    overflow-y: visible;
    display: flex;
}

.webtoyDescContainer {
    width: 300px;
    display: block;
    text-decoration: none;
    color: black;
    direction: ltr;
    margin: 0 3px;
    height: 195px;
}

.webtoyDescContainer .detailsHolder{
    display:none;
}

.webtoyDescContainer:hover{
    height:auto;
}

.webtoyDescContainer:hover .detailsHolder{
   display:block;
}

.container {
    position: relative;
}

.toysSection{
    position: absolute;
    z-index: 10;
}

.toolsSection{
    position: absolute;
    top:260px;
}

.gamesSection{
    position: absolute;
    top:520px;
}